.warning{
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}

.label{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    
}

.container{
   
    width: fit-content;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/imgs/pngtree-seamless-pattern-cosmic-objects-set-hand-drawn-vector-doodles-rockets-planets-image_678138.jpg");
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.container form div{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}




.container form p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }

.container form input{
    margin-top: 5%;
    font-size: larger;
    font-weight: bold;
    color: grey;
}


.container form button{

    font-weight: bolder;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #149314;

}

.instantLogin{
    color: rgb(157,157,251);
    align-items: center !important;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3%;
    cursor: pointer;
}